.input__label {
  display: flex;
  padding: 0 0 16px;
  border-bottom: 1px solid #424242;
}

.input__title {
  margin: 0;
  padding-right: 10px;

  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input__input {
  flex: 1;
  text-align: right;

  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.input__eror {
  margin: 0;
  min-height: 10px;
  padding: 3px 0 4px;

  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input_no-border .input__label {
  border-bottom: none;
}

.input_label-top .input__label {
  padding: 0 0 10px;
  flex-direction: column;
  row-gap: 5px;
}

.input_label-top .input__eror {
  min-height: 16px;
  padding: 4px 0 4px;
}

.input_label-top .input__input {
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.input_label-top .input__title {
  color: #8b8b8b;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input__input::placeholder {
  color: rgb(96, 204, 104);
}
